body {
    background-color: black;
    /* background-color: #303030; */
    padding: 0;
    margin: 0;
    color: white;
}
.CanvasC {
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: collumns;
    justify-content: space-between;
}
.p5Canvas {
    max-width: 300px;
    max-height: 300px;
}